body {
	margin: 0em;
	font-family: 'Source Sans Pro', sans-serif;
}

p{
	font-size: 20px;
}

h1 {
	font-size: 100px;
	font-family: 'Libre Baskerville', serif;
}

h5 {
	font-family: 'Fjalla One', sans-serif;
}

a{
	text-decoration: none;
}

i{
	color: black;
}

.Portrait {
	height: 450px;
	background-image: url(Pics/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
	color: white;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: darken;
}

.button-size {
	padding: 12px 25px;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	text-transform: uppercase;
}

.Logo-style {
	height: 40px;
	width: auto;
	min-height: 0.5rem;
}

.card{
	border: 0 !important;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	max-width: 500px;
	border-radius: 10px;
}

.title-background {
	height: 75px;
	margin-left: -15px;
}

.svg{
	height: 250px;
	width: 250px;
}

.card-title {
	height: 35px;
	width: auto;
	margin-top: -10px;
	margin-left: -10px;
	min-height: 2.5rem;
}

.Portrait-small{
	height: 100px;
	background-blend-mode: normal;
	background-size: cover;
	background-position-x: center;
}

.card-text{
	min-height: 5rem;
}

.itemCarrusel{
	height: 100%;
	position: relative;
	margin-right: 200px;
	transition: opacity .5s;
}

.itemCarrusel:first-child{
	opacity: 1;
}

.itemCarrusel:target{
	opacity: 1;
}

.titulo-tarjeta{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	padding-top: 20px;
	padding-left: 700px;
	text-transform: uppercase;
}

.cuerpo-tarjeta{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	padding-top: 45px;
	padding-left: 650px;
	color: black;
}

.cuerpo-tarjeta-iphone{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	padding-top: 45px;
	padding-left: 700px;
	color: black;
}

.badge-size{
	width: 50px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-top: -5px;
	font-size: 100%;
}


.tarjetaCarrusel{
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	opacity: 1;
}

.flechasCarrusel{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
}

#contenedor{
	height:350px;
	overflow: hidden;
	width: 100%;
	padding-left: 200px;
	padding-right: 200px;
}

#Tarjeta-1{
	background-color: rgb(255, 255, 255);
}

#Tarjeta-2{
	background-color: rgb(255, 255, 255);
}

#Tarjeta-3{
	background-color: rgb(255, 255, 255);
}


